@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 1rem 2rem;
  background: rgb(34, 34, 34);
  position: fixed;
}
.logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}
nav {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 2rem;
}
ul {
  display: flex;
  gap: 3.5rem;
}
ul li a {
  font-size: 1rem;
  color: #fff;
  transition: 0.2s;
}
ul li a:hover {
  color: rgb(233, 233, 17);
}
.background-image {
  width: 100%;
  height: 100%;
  background-image: url("../img/bebida4.jpg"); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Isso faz com que a imagem cubra toda a seção */
  background-position: center; /* Isso posiciona a imagem no centro da seção */
  background-repeat: no-repeat; /* Isso evita a repetição da imagem de fundo */
}
.background-info {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.background-info h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}
.background-info p {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.4rem;
}
.background-info a {
  padding: 2rem 6rem;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3rem 3rem 3rem 3rem;
  color: #fff;
  transition: 0.3s;
}
.background-info a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.plantation {
  width: 100%;
  height: 100%;
  background: rgb(34, 34, 34);
  padding-top: 3rem;
}
.plantation-info {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.plantation-info h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.plantation-grid {
  width: 100%;
  height: 80%;
  padding: 1rem 4rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
figure {
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 2rem 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

figure:hover {
  transform: scale(1.05);
  background: rgba(34, 34, 34, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

img {
  max-width: 50px;
  border-radius: 8px;
}

figcaption {
  margin-top: 10px;
}

figurecaption h2 {
  font-size: 1.5rem;
  color: #333;
}

figurecaption p {
  font-size: 1rem;
  color: #666;
}
